* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}

.d-flex {
	display: flex;
	align-items: center;
}
.d-flex2{
	display:flex;
}

/* header */
.headerLeft img {
	margin-left: 5px;
	width: 90px;
}

.header {
	justify-content: space-between;
	border-bottom: 2px solid whitesmoke;
}

.headerLeft span {
	padding: 10px;
	cursor: pointer;
}

.headerMiddle {
	flex: 0.8;
	background-color: whitesmoke;
	border-radius: 5px;

}

.header .material img {
	width: 20px;
}

.material img {
	width: 20px;
}

.headerMiddle input {
	border: none;
	width: 100%;
	padding: 10px;
	outline: none;
	font-size: medium;
	background-color: transparent;
}

.headerRight {
	padding-right: 20px;
}

.headerRight .material {
	cursor: pointer;
}

/* sidebar */
.sideBar {
	flex: 0.3;
	max-width: 200px;
	padding-right: 20px;
}

.sideBarCompose {
	margin:15px 0px 15px 10px;
	color: gray;
	padding: 15px;
	border-radius: 30px;
	background-color: white;
	cursor: pointer;
	border: none;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sideBarCompose span {
	margin-right: 5px;
}

.sideBarOption {
	padding: 13px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: #818181;
}

.sideBarOption h3 {
	flex: 1;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
}

.sideBarOption:hover,
.sideBarOption:hover h3,
.sideBarOption:hover .material,
.sideBarOptionActive,
.sideBarOptionActive h3,
.sideBarOptionActive .material {
	background-color: #fcecec;
	font-weight: 800;
}

.sideBarFooterIcons .material {
	margin: 7px;
	cursor: pointer;
}

/*main body*/
/*email list*/
.emailList {
	flex: 1;
}

.emailListSetting {
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;
	background-color: white;
	padding: 8px;
}

.emailListSettings .material {
	margin: 5px;
	cursor: pointer;
}

.section {
	border-bottom-width: 2px;
	padding: 15px;
	min-width: 200px;
	cursor: pointer;
	color: gray;
	border-width: 0;
}

.emailListSections {
	background-color: white;
	border-bottom: 1px solid whitesmoke;
}

.sectionSelected {
	background-color: whitesmoke;
	border-width: 3px;
	color: red;
	border-bottom: 3px solid red;
}

.section:hover {
	background-color: whitesmoke;
	border-width: 3px;
}

.section h4 {
	font-size: 14px;
	margin-left: 15px;
}

.emailRowOptions .material {
	margin: 5px;
}

.emailRow {
	border-bottom: 1px solid whitesmoke;
	cursor: pointer;
	padding: 5px;
}

.emailRow:hover {
	border-top: 1px solid whitesmoke;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 24);
}

.emailRowMessage {
	flex: 0.8;
	font-size: 13px;
}

.emailRowMessage h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:0px 5px 0px 5px;
}

.emailRowTitle {
	font-size: 13px;
	flex: 0.3;
}

.emailRowTime {
	padding-right: 15px;
	font-size: 12px;
	font-weight: bold;
}

.emailRowDescription {
	font-weight: 400;
	color: gray;
}