* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: arial, sans-serif;
}


/* header */
.headerLeft img {
	margin-left: 5px;
	width: 90px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid whitesmoke;
}

.headerLeft {
	display: flex;
	align-items: center;
}

.headerLeft span {
	padding: 10px;
	cursor: pointer;
}

.headerMiddle {
	display: flex;
	flex: 0.8;
	align-items: center;
	background-color: whitesmoke;
	border-radius: 5px;

}

.header .material img {
	width: 20px;
}

.material img {
	width: 20px;
}

.headerMiddle input {
	border: none;
	width: 100%;
	padding: 10px;
	outline: none;
	font-size: medium;
	background-color: transparent;
}

.headerRight {
	padding-right: 20px;
}

.headerRight .material {
	cursor: pointer;
}

/* sidebar */
.sideBar {
	flex: 0.3;
	max-width: 200px;
	padding-right: 20px;
}

.sideBarCompose {
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 15px;
	color: gray;
	padding: 15px;
	border-radius: 30px;
	background-color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
	border: none;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sideBarCompose span {
	margin-right: 5px;
}

.sideBarOption {
	display: flex;
	align-items: center;
	padding: 13px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: #818181;
}

.sideBarOption h3 {
	flex: 1;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
}

.sideBarOption:hover,
.sideBarOption:hover h3,
.sideBarOption:hover .material,
.sideBarOptionActive,
.sideBarOptionActive h3,
.sideBarOptionActive .material {
	background-color: #fcecec;
	font-weight: 800;
}

.sideBarFooter {
	display: flex;
	justify-content: center;
}

.sideBarFooterIcons .material {
	margin: 7px;
	cursor: pointer;
}

/*main body*/
.mainBody {
	display: flex;
}

/*email list*/
.emailList {
	flex: 1;
}

.emailListSetting {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;
	background-color: white;
	z-index: 1;
	padding: 8px;
}

.emailListSettingLeft {
	display: flex;
	align-items: center;
}

.emailListSettings .material {
	margin: 5px;
	cursor: pointer;
}

.section {
	display: flex;
	align-items: center;
	border-bottom-width: 2px;
	padding: 15px;
	min-width: 200px;
	cursor: pointer;
	color: gray;
	border-width: 0;
}

.emailListSections {
	display: flex;
	background-color: white;
	border-bottom: 1px solid whitesmoke;
	z-index: 1;
}

.sectionSelected {
	background-color: whitesmoke;
	border-width: 3px;
	color: red;
	border-bottom: 3px solid red;
}

.section:hover {
	background-color: whitesmoke;
	border-width: 3px;
}

.section h4 {
	font-size: 14px;
	margin-left: 15px;
}

.emailRowOptions {
	display: flex;
	align-items: center;
}

.emailRowOptions .material {
	margin: 5px;
}

.emailRow {
	display: flex;
	align-items: center;
	border-bottom: 1px solid whitesmoke;
	cursor: pointer;
	padding: 5px;
}

.emailRow:hover {
	border-top: 1px solid whitesmoke;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 24);
}

.emailRowMessage {
	display: flex;
	flex: 0.8;
	align-items: center;
	font-size: 13px;
}

.emailRowMessage h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	padding-right: 5px;
}

.emailRowTitle {
	font-size: 13px;
	flex: 0.3;
}

.emailRowTime {
	padding-right: 15px;
	font-size: 10px;
	font-weight: bold;
}

.emailRowDescription {
	font-weight: 400;
	color: gray;
}

/*media query*/
/*screen size:768*/
@media(max-width:768px) {
	.emailRowTitle {
		font-size: 12px;
	}

	.emailRowMessage {
		font-size: 12px;
		flex: 2;
	}


	.section h4 {
		font-size: 12px;
	}

	.sideBar {
		flex: 0;
		padding: 0px;
	}

	.emailList {
		margin-left: 10px;

	}

	.emailRowTime {
		font-size: 10px;
		font-weight: 500;
	}

	.headerLeft img {
		width: 65px;
	}

	.headerMiddle input {
		padding: 0px;
		font-size: 12px;
		padding: 5px;
	}

	.section {
		min-width: 0px;
	}

	.sideBarOption h3 {
		font-size: 12px;
	}
}

/*screen size:425*/
@media(max-width:425px) {
	.emailRowTitle {
		font-size: 9px;
	}

	.sideBarCompose {
		font-size: 10px;
		padding: 10px;
	}

	.sideBarOption h3 {
		font-size: 8px;
	}

	.section h4 {
		font-size: 8px;
	}

	.emailRowMessage {
		font-size: 9px;
		flex: 1;
		width: 0px;
	}

	.emailRowTime {
		font-size: 6px;
		font-weight: 500;
	}

	.headerLeft img {
		width: 50px;
	}

	.headerMiddle input {
		padding: 0px;
		font-size: 10px;
	}

	.emailListSettingLeft input {
		width: 9px
	}

	.section {
		min-width: 0px;
		padding: 5px;
	}

	.emailRowOptions input {
		width: 9px
	}

	.headerRight .material img {
		width: 12px;
	}

	.material img {
		width: 13px;
	}
}

@media(max-width:320px) {
	.headerRight {
		padding: 0px;
	}
}